.n8n/plane-webhook-sync.json
[{"updatedAt":"2026-06-22T19:45:51.536Z","createdAt":"2026-06-22T17:34:54.844Z","id":"planeNsync1","name":"Plane → n8n Webhook Sync","description":null,"active":true,"isArchived":false,"nodes":[{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Plane Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[250,300],"webhookId":"plane-webhook","parameters":{"path":"plane-webhook","httpMethod":"POST","responseMode":"lastNode","responseData":"all","options":{}}},{"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"Process Event","type":"n8n-nodes-base.set","typeVersion":2,"position":[550,300],"parameters":{"values":{"string":[{"name":"event","value":"={{ $json.body.event }}"},{"name":"issue_id","value":"={{ $json.body.data.id || '' }}"},{"name":"issue_name","value":"={{ $json.body.data.name || '' }}"},{"name":"status","value":"={{ $json.body.data.state.name || '' }}"},{"name":"project_id","value":"={{ $json.body.data.project || '' }}"},{"name":"workspace_id","value":"={{ $json.body.data.workspace || '' }}"}]},"options":{}}},{"id":"c3d4e5f6-a7b8-9012-cdef-123456789012","name":"Filter Event","type":"n8n-nodes-base.if","typeVersion":1,"position":[1350,300],"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.event }}","operation":"isNotEmpty","value2":""}]}}},{"id":"d4e5f6a7-b8c9-0123-defa-234567890123","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1550,200],"parameters":{"respondWith":"json","responseBodyType":"formatted","responseBody":"={{ $json }}","options":{"responseStatusCode":200}}},{"id":"e5f6a7b8-c9d0-1234-efab-345678901234","name":"Skip","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1550,400],"parameters":{}},{"id":"f6a7b8c9-d0e1-2345-fabc-456789012345","name":"Get Spec Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,300],"parameters":{"url":"http://localhost:4173/blueprint/core","options":{},"sendBody":false,"method":"GET","authentication":"none","queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"text/html"}]},"sendQuery":true}},{"id":"g7h8i9j0-k1l2-3456-mnop-567890123456","name":"OpenCode Task","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[950,300],"parameters":{"url":"http://127.0.0.1:3002/?task=Read+the+file+constitution.md+and+return+just+the+project+name","options":{},"sendBody":false,"method":"GET","authentication":"none","queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[]},"sendQuery":true}},{"id":"h0i1j2k3-l4m5-6789-opqr-678901234567","name":"GitHub Push","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1150,300],"parameters":{"url":"={{ \"http://127.0.0.1:3002/github-push?path=.reports/\" + ($items(\"Process Event\").first().json.issue_id || \"unknown\") + \".md&content=\" + encodeURIComponent(\"Webhook Report\\n\\nIssue: \" + ($items(\"Process Event\").first().json.issue_name || \"N/A\") + \"\\nOpenCode Output: \" + ($json.output || \"N/A\")) + \"&message=\" + encodeURIComponent(\"n8n report for \" + ($items(\"Process Event\").first().json.issue_id || \"unknown\")) }}","options":{},"sendBody":false,"method":"GET","authentication":"none","sendHeaders":true,"sendQuery":true}},{"name":"Plane Return","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,200],"parameters":{"url":"={{ 'http://localhost:8082/api/v1/workspaces/anas-brouk-pro/projects/' + ($items('Process Event').first().json.project_id || '') + '/issues/' + ($items('Process Event').first().json.issue_id || '') + '/' }}","method":"PATCH","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"plane_api_mezyan_wh_2026"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"state","value":"d8479f55-9a8b-405b-bf52-0f2244b8319c"}]},"options":{},"sendQuery":false},"id":"9698b596-4e14-4df3-9132-2671b8fe40c6"}],"connections":{"Plane Webhook":{"main":[[{"node":"Process Event","type":"main","index":0}]]},"Process Event":{"main":[[{"node":"Get Spec Context","type":"main","index":0}]]},"Filter Event":{"main":[[{"node":"Respond","type":"main","index":0}],[{"node":"Skip","type":"main","index":0}]]},"Get Spec Context":{"main":[[{"node":"OpenCode Task","type":"main","index":0}]]},"OpenCode Task":{"main":[[{"node":"GitHub Push","type":"main","index":0}]]},"GitHub Push":{"main":[[{"node":"Plane Return","type":"main","index":0}]]},"Plane Return":{"main":[[{"node":"Filter Event","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"95159b1f-5d06-4889-9a58-38ec633e7be8","activeVersionId":"95159b1f-5d06-4889-9a58-38ec633e7be8","versionCounter":8,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-22T19:55:47.801Z","createdAt":"2026-06-22T19:55:47.801Z","role":"workflow:owner","workflowId":"planeNsync1","projectId":"LKGkUVqAOyznxBnU","project":{"updatedAt":"2026-06-09T10:02:54.601Z","createdAt":"2026-06-09T10:01:41.825Z","id":"LKGkUVqAOyznxBnU","name":"Anas Brouk <anas.brouk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"71515352-7cfb-47a8-80a3-f3c6f8bbce23"}}],"versionMetadata":{"name":null,"description":null}}]