.n8n/plane-webhook-sync.json
[{"updatedAt":"2026-06-22T19:33:10.000Z","createdAt":"2026-06-22T17:34:54.844Z","id":"planeNsync1","name":"Plane → n8n Webhook Sync","description":null,"active":true,"isArchived":false,"nodes":[{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Plane Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[250,300],"webhookId":"plane-webhook","parameters":{"path":"plane-webhook","httpMethod":"POST","responseMode":"lastNode","responseData":"all","options":{}}},{"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"Process Event","type":"n8n-nodes-base.set","typeVersion":2,"position":[550,300],"parameters":{"values":{"string":[{"name":"event","value":"={{ $json.body.event }}"},{"name":"issue_id","value":"={{ $json.body.issue?.id || '' }}"},{"name":"issue_name","value":"={{ $json.body.issue?.name || '' }}"},{"name":"status","value":"={{ $json.body.issue?.state?.name || '' }}"}]},"options":{}}},{"id":"c3d4e5f6-a7b8-9012-cdef-123456789012","name":"Filter Event","type":"n8n-nodes-base.if","typeVersion":1,"position":[1150,300],"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.event }}","operation":"isNotEmpty","value2":""}]}}},{"id":"d4e5f6a7-b8c9-0123-defa-234567890123","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1350,200],"parameters":{"respondWith":"json","responseBodyType":"formatted","responseBody":"={{ $json }}","options":{"responseStatusCode":200}}},{"id":"e5f6a7b8-c9d0-1234-efab-345678901234","name":"Skip","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1350,400],"parameters":{}},{"id":"f6a7b8c9-d0e1-2345-fabc-456789012345","name":"Get Spec Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,300],"parameters":{"url":"http://localhost:4173/blueprint/core","options":{},"sendBody":false,"method":"GET","authentication":"none","queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"text/html"}]},"sendQuery":true}},{"id":"g7h8i9j0-k1l2-3456-mnop-567890123456","name":"OpenCode Task","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[950,300],"parameters":{"url":"http://127.0.0.1:3002/?task=Read+the+file+constitution.md+and+return+just+the+project+name","options":{},"sendBody":false,"method":"GET","authentication":"none","queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[]},"sendQuery":true}}],"connections":{"Plane Webhook":{"main":[[{"node":"Process Event","type":"main","index":0}]]},"Process Event":{"main":[[{"node":"Get Spec Context","type":"main","index":0}]]},"Filter Event":{"main":[[{"node":"Respond","type":"main","index":0}],[{"node":"Skip","type":"main","index":0}]]},"Get Spec Context":{"main":[[{"node":"OpenCode Task","type":"main","index":0}]]},"OpenCode Task":{"main":[[{"node":"Filter Event","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"3bdc7efd-6fd0-4c55-81b6-5dfc1f424087","activeVersionId":"3bdc7efd-6fd0-4c55-81b6-5dfc1f424087","versionCounter":5,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-22T17:34:54.845Z","createdAt":"2026-06-22T17:34:54.845Z","role":"workflow:owner","workflowId":"planeNsync1","projectId":"LKGkUVqAOyznxBnU","project":{"updatedAt":"2026-06-09T10:02:54.601Z","createdAt":"2026-06-09T10:01:41.825Z","id":"LKGkUVqAOyznxBnU","name":"Anas Brouk <anas.brouk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"71515352-7cfb-47a8-80a3-f3c6f8bbce23"}}],"versionMetadata":{"name":null,"description":null}}]