.n8n/plane-webhook-sync.json
[{"updatedAt":"2026-06-22T17:37:17.000Z","createdAt":"2026-06-22T17:34:54.844Z","id":"planeNsync1","name":"Plane → n8n Webhook Sync","description":null,"active":true,"isArchived":false,"nodes":[{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Plane Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[250,300],"webhookId":"plane-webhook","parameters":{"path":"plane-webhook","httpMethod":"POST","responseMode":"lastNode","responseData":"all","options":{}}},{"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"Process Event","type":"n8n-nodes-base.set","typeVersion":2,"position":[550,300],"parameters":{"values":{"string":[{"name":"event","value":"={{ $json.body.event }}"},{"name":"issue_id","value":"={{ $json.body.issue?.id || '' }}"},{"name":"issue_name","value":"={{ $json.body.issue?.name || '' }}"},{"name":"status","value":"={{ $json.body.issue?.state?.name || '' }}"}]},"options":{}}},{"id":"c3d4e5f6-a7b8-9012-cdef-123456789012","name":"Filter Event","type":"n8n-nodes-base.if","typeVersion":1,"position":[750,300],"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.event }}","operation":"isNotEmpty","value2":""}]}}},{"id":"d4e5f6a7-b8c9-0123-defa-234567890123","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[950,200],"parameters":{"respondWith":"json","responseBodyType":"formatted","responseBody":"={{ $json }}","options":{"responseStatusCode":200}}},{"id":"e5f6a7b8-c9d0-1234-efab-345678901234","name":"Skip","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[950,400],"parameters":{}}],"connections":{"Plane Webhook":{"main":[[{"node":"Process Event","type":"main","index":0}]]},"Process Event":{"main":[[{"node":"Filter Event","type":"main","index":0}]]},"Filter Event":{"main":[[{"node":"Respond","type":"main","index":0}],[{"node":"Skip","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"2f8e7d6c-5b4a-3f2e-1d0c-9b8a7f6e5d4c","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"role":"workflow:owner","workflowId":"planeNsync1","projectId":"LKGkUVqAOyznxBnU","project":{"id":"LKGkUVqAOyznxBnU","name":"Anas Brouk <anas.brouk@gmail.com>","type":"personal"}}]}]